node_modules/
.DS_Store
design/
*.log
packages/test/
dist/
dev-dist/
temp/
.vuerc
.version
.versions
.changelog
.idea/
.vscode/
!.vscode/settings.json
package-lock.json
*.local
.env

cypress/screenshots/
cypress/videos/
components.d.ts
i18n-extract

# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
