node_modules
.DS_Store
design
*.log
packages/test
dist
dev-dist
temp
.vuerc
.version
.versions
.changelog
.idea
.vscode
package-lock.json
*.local
.env
.vscode

cypress/screenshots/
cypress/videos/
components.d.ts
