{
	"tabWidth": 4,
	"singleQuote": true,
	"semi": false,
	"printWidth": 120,
	"bracketSameLine": true,
	"overrides": [
		{
			"files": "*.yml",
			"options": {
				"tabWidth": 2
			}
		},
		{
			"files": "*.md",
			"options": {
				"tabWidth": 2
			}
		}
	]
}
