{
    "tabWidth": 4,
    "singleQuote": true,
    "semi": false,
    "printWidth": 120,
    "bracketSameLine": true,
    "trailingComma": "es5",
    "htmlWhitespaceSensitivity": "ignore",
    "overrides": [
        {
            "files": "*.yml",
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "*.md",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
