$link-color: $red-300;
$btn-primary-color: $red-300;

.success {
	margin: 16px 0px;
	padding: 20px;
	position: relative;
	border-radius: 3px;
	width: 100%;
	display: block;
	background-color: #f5f6fa;
	border-left: 4px solid;
	border-color: rgb(38, 203, 124);
}

.info {
	margin: 16px 0px;
	padding: 20px;
	position: relative;
	border-radius: 3px;
	width: 100%;
	display: block;
	background-color: #f5f6fa;
	border-left: 4px solid;
	border-color: rgb(56, 132, 255);
}

.warning {
	margin: 16px 0px;
	padding: 20px;
	position: relative;
	border-radius: 3px;
	width: 100%;
	display: block;
	background-color: #f5f6fa;
	border-left: 4px solid;
	border-color: rgb(247, 125, 5);
}

.alert {
	margin: 16px 0px;
	padding: 20px;
	position: relative;
	border-radius: 3px;
	width: 100%;
	display: block;
	background-color: #f5f6fa;
	border-left: 4px solid;
	border-color: rgb(255, 70, 66);
}

.key {
	padding: 0px 5px;
	border-radius: 3px;
	border: 1px solid;
	border-color: hsl(0,0%,70%);
	background-color: hsl(0,0%,98%);
	font-style: normal;
	font-size: 14px; 	
}