.simple-keyboard{
    position: absolute;
    bottom: 0px;
    z-index: 2000;
    left: 256px;
    max-width: calc(100% - 256px);
    /* padding-left: 260px!important; */
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    color: #fff;
    background-color: #121212!important;
}
.simple-keyboard .hg-button {
    background: #272727!important;
    box-shadow: none;
    border-bottom: none;
}
@media only screen and (max-width: 1264px) {
    .simple-keyboard{
        max-width: 100%;
        left: 0px;
    }
  }
  