.scalepanel-dashboard label{
    display:none;
}
.tool-input label{
    display:none;
}
.preheat-setting-panel label{
    display:none;
}
.scaleguide:hover {
    color: #29B6F6;
    cursor: pointer;
}
.neopixel-swatchesonly .v-color-picker__controls{
    padding: 0;
    margin: 0;
    display: none;
}
.console {
    margin-top: -3px;
    width: 100%;
    padding: 10px;
    padding-left: 15px;
    /* padding-bottom: 10px; */
    background-color: #1e1e1e;
    margin-bottom: 10px;
    border-radius: .35em;
}
.console label.v-label--active {
    display: none;

}
.console .v-input__slot:before {
    background-color: rgba(0, 0, 0, 0)!important;
    border-color: rgba(0, 0, 0, 0)!important;
}
.console .v-input__slot:after {
    background-color: rgba(0, 0, 0, 0)!important;
    border-color: rgba(0, 0, 0, 0)!important;
}