.scalepanel-dashboard label{
    display:none;
}
.tool-input label{
    display:none;
}
.preheat-setting-panel label{
    display:none;
}
.scaleguide:hover {
    color: #29B6F6;
    cursor: pointer;
}