.overflowingContentWidgets {
  visibility: hidden;
}

.fill-width {
  width: 100%;
}

.mb-fix-2 {
  margin-bottom: -8px!important;
}
.mr-fix-2 {
  margin-right: -8px!important;
}
.mr-fix-1 {
  margin-right: -4px!important;
}

.gutter-2 {
  margin: -2px!important;
}
.gutter-2 > .col, .gutter-2 > [class*=col-] {
  padding: 1px!important;
}

.w-100 {
  width: 100%!important;
}
.h-100 {
  height: 100%!important;
}

.p-abs {
  position: absolute!important;
}

.p-rel {
  position: relative!important;
}
