.theme--dark ::-webkit-scrollbar {
    width: 7px;
}

.theme--light ::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar {
    width: 0px;
}

.theme--dark ::-webkit-scrollbar-track {
    background: #292929;
    border-radius: 20px;
}

.theme--dark::-webkit-scrollbar-thumb {
    background: #3e3e3e;
    border: solid 0px  #292929;
    border-radius: 7px;
}

.theme--dark::-webkit-scrollbar-thumb:hover {
    background: white;
}

.theme--light ::-webkit-scrollbar-track {
    background: #D0D0D0;
    border-radius: 20px;
}

.theme--light::-webkit-scrollbar-thumb {
    background: #969696;
    border: solid 0px  #D0D0D0;
    border-radius: 7px;
}

.theme--light::-webkit-scrollbar-thumb:hover {
    background: #686868;
}