.v-toast__item--error {
    background-color: #f56565 !important;
}

.v-toast__item--success {
    background-color: #38a169 !important;
}

.v-toast__item--warning {
    background-color: #ed8936 !important;
}

.v-toast__text {
    font-family: 'Roboto', sans-serif;
}

.fullscreenUpload--active .v-toast--bottom {
    bottom: 88px;
}
