.user-select-none {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mainsail-editor {
    height: 92%;
    width: 100%;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    user-select: auto;
    -webkit-user-select: auto;
}

.echarts-tooltip {
    z-index: 5 !important;
}

.tooltip__content-opacity1 {
    opacity: 1 !important;
}

.v-btn.minwidth-0 {
    min-width: auto !important;
}

.minHeight36 {
    min-height: 36px;
}

.cursor-pointer {
    cursor: pointer !important;
}

.icon-rotate {
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.v-toast {
    padding: 8px !important;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}
