name: Build Size Report
on: [ pull_request ]
jobs:
  check:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v2
      - uses: preactjs/compressed-size-action@v2
        with:
          strip-hash: "\\b\\w{5}\\."
          pattern: "./dist/**/*.{js,css,html,json}"
          exclude: "{./dist/manifest.json,./dist/build.zip,**/*.map,**/node_modules/**}"