name: PR Title

on:
  pull_request_target:
    types: [opened, reopened, edited]

jobs:
  validate:
    name: Validate PR title
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          types: |
            fix
            feat
            perf
            refactor
            style
            locale
            docs
            test
            chore
            build
            ci
            revert
          requireScope: false
          ignoreLabels: |
            bot
            ignore-semantic-pull-request
