name: PR

on:
  pull_request_target:
    branches:
      - '**'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Allow to stop obsolete workflows
concurrency:
  group: ci-tests-${{ github.ref }}-PR
  cancel-in-progress: true

jobs:
  debs-cache:
    runs-on: ubuntu-latest
    steps:
      - name: Debs-Cache
        uses: mainsail-crew/mainsail-actions/debs-cache@master

  build:
    needs: [ debs-cache ]
    runs-on: ubuntu-latest
    steps:
      - name: Build
        uses: mainsail-crew/mainsail-actions/build@master

  eslint:
    needs: [ debs-cache ]
    runs-on: ubuntu-latest
    steps:
      - name: ESlint
        uses: mainsail-crew/mainsail-actions/eslint@master

  prettier:
    needs: [ debs-cache ]
    runs-on: ubuntu-latest
    steps:
      - name: Prettier
        uses: mainsail-crew/mainsail-actions/prettier@master

  check-locale:
    needs: [ debs-cache ]
    runs-on: ubuntu-latest
    steps:
      - name: check-locale
        uses: mainsail-crew/mainsail-actions/check-locale@master

  size-report:
    needs: [ debs-cache ]
    runs-on: ubuntu-latest
    steps:
      - name: size-report
        uses: mainsail-crew/mainsail-actions/size-report@master

  test-cypress:
    needs: [ debs-cache, build ]
    runs-on: ubuntu-latest
    steps:
      - name: test-cypress
        uses: mainsail-crew/mainsail-actions/test-cypress@master