name: PUSH

on:
    push:
        branches: [develop, master]

    # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:

# Allow to stop obsolete workflows
concurrency:
    group: ci-tests-${{ github.ref }}-PUSH
    cancel-in-progress: true

jobs:
    debs-cache:
        runs-on: ubuntu-latest
        steps:
            - name: Debs-Cache
              uses: mainsail-crew/mainsail-actions/debs-cache@master

    build:
        needs: [debs-cache]
        runs-on: ubuntu-latest
        steps:
            - name: Build
              uses: mainsail-crew/mainsail-actions/build@master

    eslint:
        needs: [debs-cache]
        runs-on: ubuntu-latest
        steps:
            - name: ESlint
              uses: mainsail-crew/mainsail-actions/eslint@master

    prettier:
        needs: [debs-cache]
        runs-on: ubuntu-latest
        steps:
            - name: Prettier
              uses: mainsail-crew/mainsail-actions/prettier@master

    test-cypress:
        needs: [debs-cache, build]
        runs-on: ubuntu-latest
        steps:
            - name: Cypress test
              uses: mainsail-crew/mainsail-actions/test-cypress@master
